@import "src/app/app-colors.scss";

.cadastro-container {
   padding: 25px;
   background-color: #fff;
   border-radius: 0px 0px 14px 14px;

   form{
      width: 100%;
   }
   
   h2 {
      font-weight: 700;
      font-size: 18px;
      color: $primary;
   }

   h4 {
      font-weight: 500;
      font-size: 12px;
      color: #5F6770;
   }

   mat-radio-button {
      margin-right: 15px !important;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 12px;
      color: #5F6770;
   }

   mat-error {
      margin: -19px 0 0 10px;
      font-size: 12px;
   }

   .button {
      cursor: pointer;
      width: 140px;
      height: 40px;
      background-color: #F2931F;
      color: #fff;
      box-shadow: 0;
   }

   button:disabled {
      cursor: default;
      background-color: #cccccc;
      color: #666666;
   }
}

::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
   color: #F2931F;
}

::ng-deep .mat-focused .mat-form-field-label {
   color: #F2931F !important;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
   color: #F2931F;
}