table{
   width: 100%;
   height: 100%;
   font-family: 'Montserrat';

   box-shadow: none;
   border: 1.8px solid #E5EDF9;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;

   td.mat-cell {
      border-bottom: 1.8px solid #E5EDF9;
      font-size: 14px;
      font-weight: 400;

   }

   tr.mat-row:last-child  {
      td.mat-cell {
         border-bottom: 1.8px solid transparent;
         border-radius: 0px 0px 14px 14px;
      }
   }

   th.mat-header-cell{
      font-weight: 700;
      font-size: 14px;
      color: #5F6770;
   }
}