<div class="cadastro-container">

   <form fxLayout="column" class="cliente-form" [formGroup]="formPessoa" autocomplete="off">
      
      <div fxLayout="row" fxLayoutGap="14px">
         <mat-form-field appearance="outline" fxFlex="70">
            <mat-label>{{ 'Nome' }}</mat-label>
            <input matInput type="text" formControlName="nome" />
         </mat-form-field>

         <mat-form-field appearance="outline" fxFlex="30">
            <mat-label>{{ 'Tipo de pessoa' }}</mat-label>
            <mat-select formControlName="tipoPessoa">
                <mat-option *ngFor="let tipo of listaTipoPessoa" [value]="tipo.chave" >
                    {{ tipo.valor }}</mat-option>
            </mat-select>
         </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="14px">
         <mat-form-field appearance="outline" fxFlex="70">
            <mat-label>{{ 'Apelido' }}</mat-label>
            <input matInput type="text" formControlName="apelido" />
         </mat-form-field>

         <mat-form-field 
            appearance="outline" fxFlex="30"
            *ngIf="formPessoa.get('tipoPessoa')?.value == eTipoPessoa.Fisica"
         >
            <mat-label>CPF</mat-label>
            <input matInput placeholder="000.000.000-00" mask="000.000.000-00" type="text"
            formControlName="numeroDocumento" />
         </mat-form-field>

         <mat-form-field 
            appearance="outline" fxFlex="30"
            *ngIf="formPessoa.get('tipoPessoa')?.value == eTipoPessoa.Juridica"
         >
            <mat-label>CNPJ</mat-label>
            <input matInput placeholder="00.000.000/0000-00" mask="00.000.000/0000-00" type="text"
            formControlName="numeroDocumento" />
         </mat-form-field>

      </div>

      <div fxLayout="row" fxLayoutGap="14px">
         <mat-form-field appearance="outline" fxFlex="40">
            <mat-label>{{ 'Cep' }}</mat-label>
            <input matInput type="text" formControlName="cep" mask="00000-000" (focusout)="preencheEndereco($event)"/>
         </mat-form-field>

         <mat-form-field appearance="outline" fxFlex="20">
            <mat-label>{{ 'UF' }}</mat-label>
            <input matInput autocomplete="off" type="text" formControlName="uf" />
         </mat-form-field>

         <mat-form-field appearance="outline" fxFlex="40">
            <mat-label>{{ 'Cidade' }}</mat-label>
            <input matInput autocomplete="off" type="text" formControlName="cidade" />
         </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="14px">
         <mat-form-field appearance="outline" fxFlex="70">
            <mat-label>{{ 'Endereço' }}</mat-label>
            <input matInput type="text" formControlName="rua" />
         </mat-form-field>

         <mat-form-field appearance="outline">
            <mat-label>{{ 'Bairro' }}</mat-label>
            <input matInput autocomplete="off" type="text" formControlName="bairro" />
         </mat-form-field>

         <mat-form-field appearance="outline">
            <mat-label>{{ 'Complemento' }}</mat-label>
            <input matInput autocomplete="off" type="text" formControlName="complemento" />
         </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="14px">
         <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
            <mat-button-toggle value="red">Cliente</mat-button-toggle>
            <mat-button-toggle value="green">Fornecedor</mat-button-toggle>
            <mat-button-toggle value="blue">Colaborador</mat-button-toggle>
         </mat-button-toggle-group>
      </div>

      <div fxFlex fxLayoutAlign="end">
         <button type="button" [disabled]="!formPessoa.valid" mat-raised-button class="button" (click)="salvarPessoa()">
            <mat-icon>check</mat-icon> {{ !pessoaId ? 'Cadastrar' : 'Editar' }}
         </button>
      </div>
   </form>
</div>